#algorithm_table_body td
{
	width: 100%;
	text-align: right;
	display: block;
	
}

td.algorithm_name a, td.algorithm_name a:hover, td.algorithm_name a:visited
{
	text-decoration: none;
	text-align: right;
	color: rgba(248, 245, 244, 0.9);
}

#algorithm_table_body
{
	width: 100%;
	display: block;
	float: right;
	
}

tr.algorithm_table_row
{
	overflow: hidden;
	width: 100%;
	text-align: right;
	margin-right: 1px;
	display: block;
	border-bottom: 1px solid #CDCBCB;
}

tr.algorithm_table_row:hover
{
	background: #D1DDDD;
	cursor: pointer;
}

#previous_runs td, #user_files td
{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 6px;
	padding-right: 6px;
	min-width: 100px;
	font-size: 0.9em;
	text-align: center;
}

#previous_runs .delete_run 
{
	min-width: 30px;
}

#previous_runs th
{
	padding-right: 10px;
	font-size: 0.9em;
}

#previous_runs_div
{
	margin-left: auto;
	margin-right: auto;
}

#user_files_table
{
	width: 100%;
	
}

#previous_runs a, #previous_runs a:hover, #previous_runs a:visited
{
	text-decoration: none;
	color: black;
}

tr.row:hover
{
	background-color: #D1DDDD;
	cursor:pointer;
}

tr.row
{
	border-bottom: 1px solid #CDCBCB;
}

th.header 
{ 
    background-image: url(../img/bg.gif);     
    cursor: pointer; 
    background-repeat: no-repeat; 
    background-position: center right; 
    padding-right: 10px;  
}

th.headerSortUp
{
	background-image: url(../img/asc.gif);
	background-color: #D1DDDD;	
}

th.headerSortDown
{
	background-image: url(../img/desc.gif);
	background-color: #D1DDDD;	
}

#algorithm_result_list
{
    list-style-type: none;
}

#algorithm_result_div
{
	width: 100%;
	
}



