/* GENERAL STYLINGS */
html
{
	height:100%; 
	max-height:100%; 
	padding:0px; 
	margin:0px;
	border:0px; 
	overflow:hidden;
}

body
{
	border: 0px;
	padding: 0px;
	margin: 0px;
	max-height: 100%;
	height: 100%;
	overflow:hidden;
	
	background-image: url(../img/fern-vlight-grey-alpha.jpg);
	/*opacity: 0.4;*/
	background-repeat: no-repeat;
	background-position: right bottom;
}

h1
{
	text-align: left;
	padding-left: 20px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 1.5em;
	font-family: Verdana;
	font-variant: small-caps;
	color: #A2A2A2;
	border-bottom: 1px solid #A2A2A2;
}

h2
{
	text-align: left;
	font-size: 1.1;
	font-family: Verdana;
	font-variant: small-caps;	
}

a
{
	text-decoration: none;
	color: #48B0B0;
}

a:visited
{
	text-decoration: none;
	color: #186666;
}

a:hover
{
	text-decoration: none;
	color: #8FE3DC;
}

#main_banner img
{
	padding-left: 25px	
}


/* BANNER AT THE TOP OF THE SITE */
div#main_banner_and_menu_padding
{
	display: block;
	height: 35px;
	max-height: 35px;
	width: 100%;
}

div#main_banner_and_menu 
{
	position: fixed;
	height: 35px;
	width: 100%;
	min-width: 600px;
	
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	border: 0px;
	
	text-align: center;
	
	background-image: linear-gradient(right , #186666 0%, #48B0B0 67%);
	background-image: -o-linear-gradient(right , #186666 0%, #48B0B0 67%);
	background-image: -moz-linear-gradient(right , #186666 0%, #48B0B0 67%);
	background-image: -webkit-linear-gradient(right , #186666 0%, #48B0B0 67%);
	background-image: -ms-linear-gradient(right , #186666 0%, #48B0B0 67%);

	background-image: -webkit-gradient(
		linear,
		right bottom,
		left bottom,
		color-stop(0, #186666),
		color-stop(0.67, #48B0B0)
	);	
	
	z-index: 100;
}

div#main_banner 
{
	position: fixed;
	height: 35px;
	width: 60%;
	top: 0px;
	left: 0px;
	min-width: 360px;
	overflow: hidden;
	
	padding: 0px;
	padding-left: 0px;
	border: 0px;
	
	font-size: 1em;
	font-family: Verdana;
	text-align: left;
	color: white;
	letter-spacing: 0.05em;

	background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0%, rgba(255,255,255, 0.1) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0%, rgba(255,255,255, 0.1) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0%, rgba(255,255,255, 0.1) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0%, rgba(255,255,255, 0.1) 100%);
	background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0%, rgba(255,255,255, 0.1) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgba(0, 0, 0, 0.3)),
		color-stop(1, rgba(255,255,255, 0.1))
	    );
}

table#menu_table 
{
	position: relative;
	left: 60%;
	top: 0px;
	height:35px;
	width: 40%;
	min-width: 240px;
	
	padding: 0px;
	padding-right: 15px;
	border: 0px;
	margin: 0px;
	
	font-family: Verdana;
	text-align:	center;	
	font-size: 0.7em;
	color: white;
	
	background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0%, rgba(255,255,255, 0.1) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0%, rgba(255,255,255, 0.1) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0%, rgba(255,255,255, 0.1) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0%, rgba(255,255,255, 0.1) 100%);
	background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0%, rgba(255,255,255, 0.1) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgba(0, 0, 0, 0.3)),
		color-stop(1, rgba(255,255,255, 0.1))
	);	
}

a.menu_link
{
	color: white;
	text-decoration: none;
	letter-spacing: 0.1em;
	overflow: inherit;
}

a.menu_link:hover, a.menu_link:active
{
	text-decoration: underline;	
}

td.menu_item
{
	width: 8%;
	top: 5px;
	left: 0px;
	
	padding: 0px;
	border: 0px;
	margin: 0px;
	overflow: hidden;
}


/* MAIN CONTENT OF THE SITE */
div#main_content
{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	max-height: 100%;
	min-width: 600px;
	overflow:auto;
	
	font-size: 0.8em;
	font-family: Verdana;
	
background-image: linear-gradient(left , rgba(240,240,240, 0.9) 5%, rgba(255,252,255, 0.7) 27%, rgba(245,245,245, 0.7) 89%);
background-image: -o-linear-gradient(left , rgba(240,240,240, 0.9) 5%, rgba(255,252,255, 0.7) 27%, rgba(245,245,245, 0.7) 89%);
background-image: -moz-linear-gradient(left , rgba(240,240,240, 0.9) 5%, rgba(255,252,255, 0.7) 27%, rgba(245,245,245, 0.7) 89%);
background-image: -webkit-linear-gradient(left , rgba(240,240,240, 0.9) 5%, rgba(255,252,255, 0.7) 27%, rgba(245,245,245, 0.7) 89%);
background-image: -ms-linear-gradient(left , rgba(240,240,240, 0.9) 5%, rgba(255,252,255, 0.7) 27%, rgba(245,245,245, 0.7) 89%);

background-image: -webkit-gradient(
	linear,
	left top,
	right top,
	color-stop(0.05, rgba(240,240,240, 0.9)),
	color-stop(0.27, rgba(255,252,255, 0.7)),
	color-stop(0.89, rgba(245,245,245, 0.7))
);
}

div#subpage_index
{
	display: block;
	width: 26%;
	min-height: 85%;
	top: 0px;
	left: 0px;
	float: left;
	margin-top: 20px;
	border-right: 1px solid #CDCBCB;
	overflow: auto;
	background-color: transparent;
}

table#subpage_index_table 
{
	display: block;
	padding-left: 5px;
	overflow:auto;
	font-size: 1em;
	background-color: transparent;
}

td.subpage_index_header
{
	font-variant: small-caps;
	font-size: 1.1em;
}

div#subpage_content
{
	display: block;
	float: right;
	left: 27%;
	width: 73%;
	min-height: 70%;
	background-color: transparent;
}

/* SITE'S FOOTER */
div#footer 
{
	position:fixed;
	width:100%;
   	height: 50px;
   	bottom:0;
   	
	border: 0;
	margin: 0;
	padding: 0;

   	text-align: center;
   	opacity: 0.55;
	
	background-image: linear-gradient(top, #D9E0E0 0%, #F7FCFC 60%);
	background-image: -o-linear-gradient(top, #D9E0E0 0%, #F7FCFC 60%);
	background-image: -moz-linear-gradient(top, #D9E0E0 0%, #F7FCFC 60%);
	background-image: -webkit-linear-gradient(top, #D9E0E0 0%, #F7FCFC 60%);
	background-image: -ms-linear-gradient(top, #D9E0E0 0%, #F7FCFC 60%);
	
	background-image: -webkit-gradient(
		linear,
		right top,
		right bottom,
		color-stop(0, #D9E0E0),
		color-stop(0.6, #F7FCFC)
	);	

	z-index: 100;
}

div#footer_padding
{
	display: block;
	height: 50px;
	max-height: 50px;
	width: 100%;
	bottom: 0px;
}

/* HOME.HTML */
div.intro 
{
	padding-left: 10px;
	padding-right: 20px;
}


div.upload_form
{
	margin-left: auto;
	margin-right: auto;
}


p.no_files
{
	padding-left: 30px;
	font-style: italic;
}

/* Registration apps divs */
div.registration 
{
	padding-left: 10px;
	width: 50%;
}

/* DEVELOPMENT SETTINGS */
p.development_note
{
	padding: 5px;
	font-size: 0.7em;
	font-style: italic;
}

#run_result_image
{
	border: 1px solid #A2A2A2;
	margin: 10px 30px;
}

.shadow
{
	background: Silver;
	position: relative;
	left: 3px;
	top: 3px;
}

 /* Tells to jQueryUI's tabs-methon what happens when tab is not shown. */
.ui-tabs-hide {  
display: none;  
}

.tabnav 
{
	border-bottom: 1px solid #A2A2A2;
	padding-left: 10px;
}

.tabnav li, .tabnav li a 
{  
	display: inline;  
	list-style: none;  
	padding-right: 5px;
	border: 0px;
	
	padding-bottom: 0px;
	margin: 0px;
	text-align: left;
	padding-left: 15px;
	margin-left: 5px;
	margin-right: 5px;
	color: rgba(222,219,193, 0.5);
	font-size: 1.2em;
	font-family: Verdana;
	font-variant: small-caps;
}

.tabnav li a:hover, .tabnav li a:active, .tabnav li.ui-tabs-selected a
{	
	color: #A2A2A2;
}

/* Stylings for the file and run-tables. */

.file_table
{
	border-collapse: collapse; 	/* Collapse borders into single line. */
	font-size: 1em;
	margin-top: 10px;
	margin-bottom: 10px;
	/*
	margin-left: auto ;
  	margin-right: auto ;
  	*/
}

.file_table th /* First row with column names */	
{
	font-variant: small-caps;
	font-weight: bold;
	color: #A2A2A2;
	border-top: 1px solid #A2A2A2;
	border-bottom: 1px solid #A2A2A2;
}


/* Tips in all the subpages */
.pro_tip 
{
	font-style: italic;
	color: #FF9900;
	text-align: center;
}

.centered 
{
	margin-left: auto;
	margin-right: auto;
}

/* In development class */
.input_needed
{
	color: #4DB870;	
}


/* Styling for the subpage navigation buttons "prev" and "next" */
#subpage_navigation
{
	height: 30px;
	display: inline;
	font-variant: small-caps;
	font-style: italic;
	font-size: 1.1em;
	color: #186666;
}

#prev 
{
	float: left;
	cursor: pointer;	
}

#next
{
	float:right;
	cursor: pointer;
	padding-right: 5px;
}


