/* GENERAL SETTINGS */
html
{
	height:100%; 
	max-height:100%; /
	padding:0; 
	margin:0;
	border:0; 
	overflow:hidden;
}

body
{
	border: 0px;
	padding: 0px;
	margin: 0px;
	max-height: 100%;
	height: 100%;
	overflow:hidden;
}

h1
{
	text-align: left;
	padding-left: 20px;
	font-size: 1.5em;
	font-family: Verdana;
	font-variant: small-caps;
}

h2
{
	text-align: left;
	font-size: 1.1;
	font-family: Verdana;
	font-variant: small-caps;	
}

a
{
	text-decoration: none;
	color: #48B0B0;
}

a:visited
{
	text-decoration: none;
	color: #186666;
}

a:hover
{
	text-decoration: none;
	color: #8FE3DC;
	
}
	


/* BANNER AT THE TOP OF THE SITE */
div#main_banner_and_menu_padding
{
	display: block;
	height: 35px;
	max-height: 35px;
	width: 100%;
}

div#main_banner_and_menu 
{
	position: fixed;
	margin-top: 0px;
	margin-down: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	border: 0px;
	height: 35px;
	width: 100%;
	text-align: center;
	
	background-image: linear-gradient(right , #186666 0%, #48B0B0 67%);
	background-image: -o-linear-gradient(right , #186666 0%, #48B0B0 67%);
	background-image: -moz-linear-gradient(right , #186666 0%, #48B0B0 67%);
	background-image: -webkit-linear-gradient(right , #186666 0%, #48B0B0 67%);
	background-image: -ms-linear-gradient(right , #186666 0%, #48B0B0 67%);

	background-image: -webkit-gradient(
		linear,
		right bottom,
		left bottom,
		color-stop(0, #186666),
		color-stop(0.67, #48B0B0)
	);	
	
	z-index: 100;
}

div#main_banner 
{
	position: fixed;
	top: 5px;
	left: 0px;
	padding: 0px;
	padding-left: 20px;
	border: 0px;
	font-size: 1em;
	font-family: Verdana;
	text-align: left;
	color: white;
	letter-spacing: 0.05em;
	width: 60%;
}

table#menu_table 
{
	padding: 0px;
	border: 0px;
	margin: 0px;
	position: relative;
	left: 60%;
	top: 7px;
	padding-right: 15px;
	font-family: Verdana;
	text-align:	center;	
	font-size: 0.7em;
	width: 40%;
	color: white;
}

a.menu_link
{
	color: white;
	text-decoration: none;
	letter-spacing: 0.1em;
	overflow: inherit;
}

td.menu_item
{
	padding: 0px;
	border: 0px;
	margin: 0px;
	top: 5px;
	left: 0px;
	overflow: hidden;
	width: 8%;
}


/* MAIN CONTENT OF THE SITE */
div#main_content
{
	position: relative;
	display: block;
	overflow:auto;
	width: 100%;
	height: 100%;
	max-height: 100%;
	font-family: Verdana;
	background-image: linear-gradient(right , #EFF7F7 25%, #CDE9EB 70%, #E6EDED 75%);
	background-image: -o-linear-gradient(right , #EFF7F7 25%, #CDE9EB 70%, #E6EDED 75%);
	background-image: -moz-linear-gradient(right , #EFF7F7 25%, #CDE9EB 70%, #E6EDED 75%);
	background-image: -webkit-linear-gradient(right , #EFF7F7 25%, #CDE9EB 70%, #E6EDED 75%);
	background-image: -ms-linear-gradient(right , #EFF7F7 25%, #CDE9EB 70%, #E6EDED 75%);
	
	background-image: -webkit-gradient(
		linear,
		right bottom,
		left bottom,
		color-stop(0.25, #EFF7F7),
		color-stop(0.7, #CDE9EB),
		color-stop(0.75, #E6EDED)
	);
	
}

div#subpage_index
{
	width: 26%;
	display: block;
	overflow: auto;
	float: left;
	top: 0px;
	left: 0px;
	background-color: transparent;
}

table#subpage_index_table 
{
	padding-left: 5px;
	display: block;
	overflow:auto;
	font-size: 0.8em;
	background-color: transparent;
}

td.subpage_index_header
{
	font-variant: small-caps;
	font-size: 1.1em;
	
}

div#subpage_content
{
	display: block;
	float: right;
	left: 27%;
	width: 73%;
	background-color: transparent;
}

/* SITE'S FOOTER */
div#footer 
{
	position:fixed;
	border: 0;
	margin: 0;
	padding: 0;
   	bottom:0;
   	width:100%;
   	height: 50px;
   	text-align: center;
   	opacity: 0.55;
	
	background-image: linear-gradient(top, #D9E0E0 0%, #F7FCFC 60%);
	background-image: -o-linear-gradient(top, #D9E0E0 0%, #F7FCFC 60%);
	background-image: -moz-linear-gradient(top, #D9E0E0 0%, #F7FCFC 60%);
	background-image: -webkit-linear-gradient(top, #D9E0E0 0%, #F7FCFC 60%);
	background-image: -ms-linear-gradient(top, #D9E0E0 0%, #F7FCFC 60%);
	
	background-image: -webkit-gradient(
		linear,
		right top,
		right bottom,
		color-stop(0, #D9E0E0),
		color-stop(0.6, #F7FCFC)
	);	

	z-index: 100;
}

div#footer_padding
{

	display: block;
	height: 50px;
	max-height: 50px;
	width: 100%;
}

/* HOME.HTML */
div.intro 
{
	padding-left: 10px;
	padding-right: 100px;
}

div.upload_form
{
	padding-top: 15px;
	padding-left: 25px;
	
}

p.no_files
{
	padding-left: 30px;
	font-style: italic;
	
}

/* Registration apps divs */
div.registration 
{
	padding-left: 10px;
	width: 50%;
}

/* DEVELOPMENT SETTINGS */
p.development_note
{
	padding: 5px;
	font-size: 0.7em;
	font-style: italic;
}
