/* GENERAL STYLINGS */

* 
{
	margin: 0px;
}

html
{
	height:100%; 
	max-height:100%; 
	padding:0px; 
	margin:0px;
	border:0px; 
	overflow:hidden;
	min-width: 900px;
	min-height: 300px;
}

body
{
	border: 0px;
	padding: 0px;
	margin: 0px;
	max-height: 100%;
	height: 100%;
	overflow:hidden;
	background-repeat: no-repeat;
	background-position: right bottom;
}

h1
{
	text-align: left;
	font-size: 1.5em;
	font-family: Verdana;
	font-variant: small-caps;
	color: #396A6A;
	margin: 0px;
	padding: 10 0 0 0;
	width: 100%;
	font-weight: normal;
}

#subpage_main_header_wrapper
{
	padding-left: 30px;
	background-color: #D1DDDD;
	border-top: 2px solid rgba(128, 164, 164, 1);
	border-bottom: 1px solid rgba(128, 164, 164, 1);
}

h2
{
	text-align: left;
	font-size: 1.1;
	font-family: Verdana;
	font-variant: small-caps;	
}

a
{
	text-decoration: none;
	color: #396A6A;
}

a:visited
{
	text-decoration: none;
	color: #396A6A;
}

a:hover
{
	text-decoration: none;
	color: #D1DDDD;
}

p 
{
	padding-top: 10px;
}

#main_banner img
{
	padding-left: 25px	
}


/* BANNER AT THE TOP OF THE SITE */
div#main_banner_and_menu_padding
{
	display: block;
	height: 35px;
	max-height: 35px;
	width: 100%;
}

div#main_banner_and_menu 
{
	position: fixed;
	height: 35px;
	width: 100%;
	min-width: 900px;
	
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	border: 0px;
	
	text-align: center;
	background-color: #396A6A;
	z-index: 100;
}

div#main_banner 
{
	position: fixed;
	height: 35px;
	width: 55%;
	top: 0px;
	left: 0px;
	min-width: 495px;
	overflow: hidden;
	
	padding: 0px;
	border: 0px;
	
	font-size: 1em;
	font-family: Verdana;
	text-align: left;
	color: white;
}

table#menu_table 
{
	position: relative;
	top: 0px;
	float:right;
	height:35px;
	max-width: 360px;
	min-width: 360px;
	
	padding: 0px;
	padding-right: 15px;
	border: 0px;
	margin: 0px;
	
	font-family: Palantino;
	text-align:	center;	
	font-size: 14px;
}

a.menu_link 
{
	color: rgb(210, 210, 210);
	text-decoration: none;
	letter-spacing: 0.1em;
	overflow: inherit;
}

a.menu_link:hover, #menu_table .active
{
	color: white;
}

td.menu_item
{
	top: 5px;
	left: 0px;
	padding: 0px;
	border: 0px;
	margin: 0px;
	overflow: hidden;
}

.box-sizing_border
{
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

#content_wrapper
{
	height: 100%;
	width: 100%;
	float: left;
	overflow-x: hidden;
	padding-left: 315px;
	padding-top: 35px;
	
	background-image: linear-gradient(left , rgba(220,220,220, 1) 0px, rgba(235,235,235, 0.5) 8px, rgba(255,255,255, 0.0) 20px);
	background-image: -o-linear-gradient(left , rgba(220,220,220, 1) 0px, rgba(235,235,235, 0.5) 8px, rgba(255,255,255, 0.0) 20px);
	background-image: -moz-linear-gradient(left , rgba(220,220,220, 1) 315px, rgba(235,235,235, 0.5) 323px, rgba(255,255,255, 0.0) 335px);
	background-image: -webkit-linear-gradient(left , rgba(220,220,220, 1) 0px, rgba(235,235,235, 0.5) 8px, rgba(255,255,255, 0.0) 20px);
	background-image: -ms-linear-gradient(left , rgba(220,220,220, 1) 0px, rgba(235,235,235, 0.5) 8px, rgba(255,255,255, 0.0) 20px);
	
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0px, rgba(220,220,220,1)),
		color-stop(8px, rgba(235,235,235, 0.5)),
		color-stop(20px, rgba(255,255,255, 0.0))
	);
}

/* MAIN CONTENT OF THE SITE */
div#main_content
{
	float:left;
	width: 100%;
	max-width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	font-family: Palantino;
}

div#subpage_index
{
	padding-top: 35px;
	display: block;
	position: fixed;
	height: inherit;
	left: -1px;
	width: 315px;
	border-right: 1px solid #CDCBCB;
	overflow: auto;
	color: rgba(248, 245, 244, 0.9);
	background-color: rgba(128, 164, 164, 1);
	/*background-color: rgba(248, 245, 244, 0.9);*/
	background-image: url(../img/text.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}

table#subpage_index_table 
{
	display: block;
	overflow:auto;
	font-size: 1em;
	min-width: inherit;
	background-color: transparent;
}

#subpage_index, #subpage_index th, #subpage_index h1
{
	color: rgba(248, 245, 244, 0.9);
	border-bottom: 1px solid rgba(248, 245, 244, 0.9);
	border-top: 1px solid rgba(248, 245, 244, 0.9);
}

#subpage_index h1
{
	text-align: center;
}

td.subpage_index_header
{
	font-variant: small-caps;
	font-size: 1.1em;
}

div#subpage_content
{
	padding: 0 20px; 
	float: left;
	width: inherit;
	overflow-x: hidden;
	overflow-y: auto;
	overflow: auto;

}

/* SITE'S FOOTER */
div#footer 
{
	position:fixed;
	width:100%;
   	height: 50px;
   	bottom:0;
   	
	border: 0;
	margin: 0;
	padding: 0;

   	text-align: center;
   	opacity: 0.55;
	
	background-image: linear-gradient(top, #D9E0E0 0%, #F7FCFC 60%);
	background-image: -o-linear-gradient(top, #D9E0E0 0%, #F7FCFC 60%);
	background-image: -moz-linear-gradient(top, #D9E0E0 0%, #F7FCFC 60%);
	background-image: -webkit-linear-gradient(top, #D9E0E0 0%, #F7FCFC 60%);
	background-image: -ms-linear-gradient(top, #D9E0E0 0%, #F7FCFC 60%);
	
	background-image: -webkit-gradient(
		linear,
		right top,
		right bottom,
		color-stop(0, #D9E0E0),
		color-stop(0.6, #F7FCFC)
	);	

	z-index: 100;
}

div#footer_padding
{
	display: block;
	height: 50px;
	max-height: 50px;
	width: 100%;
	bottom: 0px;
}

/* HOME.HTML */
div.intro 
{
	padding-top: 10px;
	padding-left: 5px;
	
}


#upload_form
{
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
}


p.no_files
{
	padding-left: 30px;
	font-style: italic;
}

/* DEVELOPMENT SETTINGS */
p.development_note
{
	padding: 5px;
	font-size: 0.7em;
	font-style: italic;
}

#run_result_image
{
	border: 1px solid #A2A2A2;
	margin: 10px 30px;
}

.shadow
{
	background: Silver;
	position: relative;
	left: 3px;
	top: 3px;
}

 /* Tells to jQueryUI's tabs-methon what happens when tab is not shown. */
.ui-tabs-hide {  
display: none;  
}

.tabnav 
{
	margin: 0px;
	border-bottom: 1px solid #A2A2A2;
	padding-left: 10px;
}

.tabnav li, .tabnav li a 
{  
	display: inline;  
	list-style: none;  
	padding-right: 5px;
	border: 0px;
	
	padding-bottom: 0px;
	margin: 0px;
	text-align: left;
	padding-left: 15px;
	margin-left: 5px;
	margin-right: 5px;
	color: rgba(222,219,193, 0.5);
	font-size: 1.2em;
	font-family: Verdana;
	font-variant: small-caps;
}

.tabnav li a:hover, .tabnav li a:active, .tabnav li.ui-tabs-selected a
{	
	color: #A2A2A2;
}

#all_files_tabs 
{
	padding-top: 10px;
	border-top: 1px solid rgba(248, 245, 244, 0.9);
}
#all_files_tabs .tabnav 
{
	border-bottom: 1px solid rgba(248, 245, 244, 0.9);
}


#all_files_tabs .tabnav li
{
	color: rgba(222,219,193, 0.5);
}

#all_files_tabs .tabnav li a:hover, 
#all_files_tabs .tabnav li a:active,
#all_files_tabs .tabnav li.ui-tabs-selected a
{
	color: rgba(248, 245, 244, 0.9);
}

/* Stylings for the file and run-tables. */

.file_table
{
	border-collapse: collapse; 	/* Collapse borders into single line. */
	font-size: 1em;
	margin-top: 10px;
	margin-bottom: 10px;
}

.file_table th /* First row with column names */	
{
	font-variant: small-caps;
	font-weight: bold;
	color: rgba(128, 164, 164, 1);
	border-top: 1px solid rgba(128, 164, 164, 1);
	border-bottom: 1px solid rgba(128, 164, 164, 1);
}


/* Tips in all the subpages */
.pro_tip 
{
	font-style: italic;
	color: #FF9900;
	text-align: center;
}

.centered 
{
	margin-left: auto;
	margin-right: auto;
}

/* In development class */
.input_needed
{
	color: #4DB870;	
}


/* Styling for the subpage navigation buttons "prev" and "next" */
#subpage_navigation
{
	height: 30px;
	display: inline;
	font-variant: small-caps;
	font-style: italic;
	font-size: 1.1em;
	color: #186666;
}

#prev 
{
	float: left;
	cursor: pointer;	
}

#next
{
	float:right;
	cursor: pointer;
	padding-right: 5px;
}

#user_files tbody
{
	/*padding-left: 5px;*/
	
}

#user_files a, #user_files a:hover, #user_files a:visited,
#user_files td
{
	color: rgba(248, 245, 244, 0.9);
}

#user_files th
{
	border: 0px;
	padding-right: 20px;
	padding-left: 5px;
	padding-bottom: 3px;
	margin: 0px;
}

#user_files .file_name
{
	text-align: right;
}

#user_files .last_access
{
	text-align: left;
	padding-left: 5px;
}

.file_tab
{
	padding: 10 0;
	
}

input[type="submit"]
{
	margin-top: 10px;
	
}

#recent_activities_table
{
	width: 100%;
}

#recent_activities_table td
{
	width: 100%;
	padding-left: 5px;
	
	float: right;
	text-align: right;
	font-size: 0.9em;
}
#recent_activities_table tr
{
	overflow: hidden;
	float: right;
	width: 100%;
	margin-right: -2px;
	display: block;
	border-bottom: 1px solid #CDCBCB;
}

#recent_activities_table a, 
#recent_activities_table a:hover, 
#recent_activities_table a:visited
{
	text-decoration: none;
	text-align: right;
	color: rgba(248, 245, 244, 0.9);
}

#recent_activities_table tr:hover
{
	background: #D1DDDD;
	cursor: pointer;
}

div.pagination
{
	display: inline-block;
	margin-left: 80px;
}
