{% extends "home.html" %}

{% block title %} 
	Stemweb - run parameters {{input_file.name}}  
{% endblock %}
  
{% block intro %}
	Run file {{ input_file.name }} with id {{ input_file.id }} in Input_files with given parameters. <br>
	Absolute path to file: {{ input_file.path }} <br>
{% endblock %}
		
{% block form %}
	<form action="/run/{{input_file.id}}/" enctype="multipart/form-data" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Run" />
	</form>
{% endblock %}

{% block files %}
	All runs with this file:<br><br>
	{% for run in all_runs %}
		<a href="/results/{{ run.input_file.id }}/{{ run.id }}">{{ run.time }} iterations: {{ run.itermax }} simultaneous runs: {{ run.runmax }}</a><br>
	{% endfor %}
{% endblock %}