{% extends "base.html" %}

{% block title %} Stemweb - home {% endblock %}

{# Main content of the site. Leaves banner/menu and footer untouched. #}
{% block main_content %}

	<div id="subpage_index">
	{% block subpage_index %}
	
		{% if user.is_authenticated %}
			{% block subpage_index_title %}
			<h1>Uploaded files</h1>
			{% endblock%}
		
			{% if files|length == 0 %}
				<p class="no_files">No uploaded files.</p>
			{% else %}
				
				{% block subpage_index_table %}
				<table id="subpage_index_table">
					<tr>
						<td class="subpage_index_header">User</td>
						<td class="subpage_index_header">Time</td>
						<td class="subpage_index_header">Name</td>
					</tr>
				
					{% for f in files %}
						<tr>
							<td>{{ f.user }}</td>
							<td>{{ f.time|date:"d.m.y H:i" }}</td>
							<td><a href="/runparams/{{ f.id }}/" target="_blank">{{ f.name }}</a></td>
						</tr>
					{% endfor %}
				</table>
				{% endblock %}
			{% endif %}
		{% endif %}
			
		<p class="development_note">
		I was thinking to use this left-hand div as news section. File management will be in
		user's own 'Files'-tab later. There will be option to keep files open to
		'public', 'group' or 'private' (or atleast if it can be done easily enough).
		</p>
	{% endblock %}
	</div>

	<div id="subpage_content">
	{% block subpage_content %}
	
		<div class="intro">
			{% block intro %}
			<h1>Home</h1>
			<p>
				This is <a href="http://cosco.hiit.fi/Projects/STAM/">STAM's</a> web project Stemweb (workname).
			</p>
			<p>
				Project's aim is to help people to run stemmatology algorithms for their own datasets without tedious
				job of searching for/coding of the algorithms themselves. 
			</p>
			<p>
				Input needed: Brief description of stemmatology.
			</p>
			<p>
				Try the algorithm with your own .nex files or run one of the already uploaded files.
				Please be sure that your file is in the right <a href=#>format</a> (deadlink).
			</p>
			{% endblock %}
		</div>
		
		
		
		<div class="upload_form">
			{% block form %}
			
			{% if not user.is_authenticated %}
			<p class="development_note">
				You have to <a href={% url registration_register %}>register</a> and login 
				in this version to be able to upload file.
			</p>
			{% endif %}
			
			<form action="/upload" enctype="multipart/form-data" method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Upload" />
			</form>
			{% endblock %}
		</div>	
		
		{% if debug %}
		<p class="development_note">
			This is just a prototype in development. A lot of valuable information is still missing.
		</p>
		{% endif %}
		
	{% endblock %}
	</div>
		
{% endblock %}			