{% extends "home.html" %}

{% block title %} 
	Stemweb - run parameters {{input_file.name}}  
{% endblock %}

{% block subpage_index %}
	<h1>Previous runs</h1>

	{% if all_runs|length == 0 %}
		<p class="no_files">No runs for this file.</p>
	{% else %}
		<table id="subpage_index_table">
			<tr>
				<td class="subpage_index_header">Time</td>
				<td class="subpage_index_header">Iter</td>
				<td class="subpage_index_header">Runs</td>
			</tr>		
			{% for run in all_runs %}
				<tr>
					<td><a href="/results/{{ run.input_file.id }}/{{ run.id }}">{% if run.start_time %}{{ run.start_time|date:"d.m.y H:i" }}{% endif %}</a></td>
					<td>{{ run.itermax }}</td>
					<td>{{ run.runmax }}</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
	
{% endblock %}
  
{% block intro %}
	<h1>Running parameters</h1>
	<p>
	Choose parameters for this run or look at the previous runs. 
	</p>
	
	<p class="development_note">
	Some debug info: <br>
	Run file {{ input_file.name }} with id {{ input_file.id }} in Input_files with given parameters. <br>
	Absolute path to file: {{ input_file.path }} <br>
	Path component: {{ input_file.file_field.path }} <br>
	URL to file: {{ input_file.file_field.url }} <br>
	</p>
{% endblock %}
		
{% block form %}
	{% if not user.is_authenticated %}
			<p class="development_note">
				You have to <a href={% url registration_register %}>register</a> and login 
				in this version to be able to run algorithms.
			</p>
	{% endif %}

	<form action="/run/{{input_file.id}}/" enctype="multipart/form-data" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Run" />
	</form>
{% endblock %}

