*.pyc
lstrings.py
media/users/
local/default_commit_message*
media/javascript/jquery-1.7.1.js
*.db
.DS_Store
algorithms/rhm/NCD
algorithms/rhm/binarysankoff
algorithms/rhm/binarysankoff.so
algorithms/rhm/binarysankoff.dylib
*/*/*/temp/
*/*/temp/
*/temp/
logs/
*.so
*.dylib
*.nex
