*.pyc
lstrings.py
Stemweb/media/users/
Stemweb/media/external/
Stemweb/local/default_commit_message*
Stemweb/media/javascript/jquery-1.7.1.js
*.db
.DS_Store
Stemweb/algorithms/rhm/binarysankoff
binarysankoff.so
binarysankoff.dylib
*/*/*/temp/
*/*/temp/
*/temp/
Stemweb/logs/
*.o
*.so
*.dylib
*.nex
tmp.gz
notes_for_stemmawed.txt
lsettings.py
