*.pyc
Stemweb/logs/
Stemweb/algorithms/rhm/binarysankoff
Stemweb/media/users/
Stemweb/media/external/
Stemweb/media/javascript/jquery-1.7.1.js
*.db
.DS_Store
binarysankoff.so
binarysankoff.dylib
*/*/*/temp/
*/*/temp/
*/temp/
*.o
*.so
*.dylib
*.nex
tmp.gz
notes_for_stemmawed.txt
lsettings.py
