/* Main div for tabs. Contains "navigation bar" and tab-contents. */
.file_tabs 
{  
	display:block;
	overflow: auto;
	padding: 10px;
	border: 1px solid #186666;
	border-radius: 15px;
	
	background: rgba(72, 176, 176, 0.4);
	margin-right: 10px;
	margin-left: 0px;
	margin-top: 5px;
	margin-bottom: 55px;  
}

.left_file_tabs
{
	margin-left: 10px;
	margin-right: 0px;
	background: rgba(27, 122, 122, 0.6);
	
}

.file_tabs a 
{  
	color: #222;  
	text-decoration: none;  
}  
  
.file_tabs a:hover 
{  
	color: #009;  
	text-decoration: underline;  
}

/* Navigation bar for all the tabs. */
.tabnav 
{
	padding: 0px;
	padding-left: 15px;
	padding-top: 6px;
	border: 0px;
	margin: 0px;
}
  
.tabnav li 
{  
	display: inline;  
	list-style: none;  
	padding-right: 5px;
	border: 0px;
	padding-bottom: 0px;
	margin: 0px;
}  
  
.tabnav li a 
{  
	text-decoration: none;  
	text-variant: small-caps;
	font-size: 1em;
	color: #222;   
	padding-top: 4px;
	padding-left: 5px;
	padding-right: 5px;  
	padding-bottom: 0px;
	outline: none;  
}

.tabnav li a:hover, .tabnav li a:active, .tabnav li.ui-tabs-selected a
{  
	background-image: linear-gradient(bottom, rgb(222,219,193) 37%, rgb(247,245,232) 84%);
	background-image: -o-linear-gradient(bottom, rgb(222,219,193) 37%, rgb(247,245,232) 84%);
	background-image: -moz-linear-gradient(bottom, rgb(222,219,193) 37%, rgb(247,245,232) 84%);
	background-image: -webkit-linear-gradient(bottom, rgb(222,219,193) 37%, rgb(247,245,232) 84%);
	background-image: -ms-linear-gradient(bottom, rgb(222,219,193) 37%, rgb(247,245,232) 84%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.37, rgb(222,219,193)),
		color-stop(0.84, rgb(247,245,232))
	);
	
	color: #222;  
	text-decoration: none;  
	border-top-left-radius: 5px;
	border-top-right-radius: 5px; 
	border-bottom: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}  
  
 /* Contents of the single tab. */
.file_management_tab 
{  
	overflow:auto;
	margin-top: 0px;  
	background: rgba(255,255,255, 0.9);  
	border: 1px solid #dedbd1;
	border-radius: 10px;
	padding: 5px;
	padding-top: 0px;
	min-height: 200px;
}

.file_management_tab h1
{
	border-bottom: 1px solid black;
	
}
  
.file_management_tab li {   
margin-left: 20px;  
}  
  
 /* Tells to jQueryUI's tabs-methon what happens when tab is not shown. */
.ui-tabs-hide {  
display: none;  
}

/* Stylings for the file and run-tables. */

.file_table
{
	border-collapse: collapse; 	/* Collapse borders into single line. */
	font-size: 1em;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

.file_table th /* First row with column names */	
{
	font-variant: small-caps;
	font-weight: bold;
	color: #A2A2A2;
	border-top: 1px solid #A2A2A2;
	border-bottom: 1px solid #A2A2A2;
}

.file_table tr.file_table_row1:hover, .file_table tr.file_table_row2:hover
{
	background: rgba(222,219,193, 0.5);
	cursor: pointer;
	
}

.file_table_row1
{
}

.file_table_row2
{
	background: rgba(72, 176, 176, 0.2);
}

.file_table td
{
	
	
}

.file_table td.upload_time, .file_table td.file_name
{
	width: 50%;	
	text-align:center;
	font-size: 0.85em;
	padding-right: 2px;
	padding-left: 2px;
}

.file_table td.file_name
{
	border-left: 1px solid black;
	
	
}

.file_table_checkbox
{
	width: 13px;
	
}

.delete_files
{
	margin-left: 10%;
	
}



