Django
Pillow-PIL
networkx
#celery<4.0,>=3.1.15
#celery>=4.3.0
celery<5.0,>=4.3.0
kombu
redis
#mqp
#django-picklefield
numpy
matplotlib
scipy

# For drawing newicks
#biopython>=1.62
#biopython<=1.76
biopython

