{% extends "algorithms_base.html" %}

{% block subpage_main_header %} {{ algorithm.name }}  {% endblock %}

{% block algorithms_content %}

	<!-- 
	<div id="algorithm_base" class="intro">

	</div>
	-->
	
	<div id="algorithm_tabs" class="algorithm_tabs">
		<ul class="tabnav">  
			<li><a href="#algorithm_about">About</a></li>  
			
			<li><a href="#new_run">New Run</a></li>  
			<li><a href="#previous_runs">Previous Runs</a></li>  
		</ul>  
	
		<div id="algorithm_about" class="intro algorithm_tab">
			{% if algorithm.paper %}
			<p class=original_paper">
				<a href="{{ algorithm.paper }}">Original paper</a>
			</p>
			{% endif %}
			
			<!--
			<div id="algorithm_desc">
				<h1>Short description / tooltip text</h1>
				{{ algorithm.desc }}
			</div>
			-->
			
			<div id="algorithm_template"> 
				{#<h1>Long description / template</h1>#}
				{% if algorithm.template %} 
					{% include algorithm.template %} 
				{% endif %}
			</div>
		</div>
		
		<div id="new_run" class="intro algorithm_tab">
		{% block new_run %}
			{% if form %}
				<form id="new_run_form" action="/algorithms/run/{{ algorithm.id }}/" enctype="multipart/form-data" method="post">
					{% csrf_token %}
					{{ form.as_p }}
					<input type="submit" value="Run" />
				</form>
			{% else %}
				We are sorry, but no new runs for this algorithm can be made at this time.
			{% endif %}
		{% endblock %}
		</div>
		
		<div id="previous_runs" class="intro algorithm_tab">
			{% if algorithm_runs|length > 0 %}
			<div id="previous_runs_div">
				<div class="pro_tip centered">Hold shift and click multiple columns to sort by more than one attribute.</div>
				<div class="delete_response"></div>
				
				<table id="previous_runs_table" class="file_table centered">
					<thead>
						<tr>
							<th>status</th>
							<th>end time</th>
							<th>start time</th>
							<th>score</th>
							<th>file</th>
							<th class="delete_run"></th>
						</tr>
					</thead>
					<tbody>
						{% for run in algorithm_runs %}
						<tr class="row">
							<td class="score">	{% if run.status == -1  %}not started
												{% else %}
													{% if run.status == 1 %}running
													{% else %}
														{% if run.status == 0 %}finished
														{% else %}
															{% if run.status > 1 %}failure
															{% endif %}
														{% endif %}
													{% endif %}
												{% endif %}</td>
							<td class="run_time">{% if run.end_time %}{{ run.end_time|date:"d.m.y H:i" }}{% else %} --- {% endif %}</td>
							<td class="run_time">{{ run.start_time|date:"d.m.y H:i" }}</td>
							<td class="score">{% if run.score %}{{ run.score }}{% else %}---{% endif %}</td>  
							<td class="input_file"><a href="/algorithms/results/{{ run.id }}">{{ run.input_file.name }}</a></td>
							<td class="delete_run"><input type="checkbox" name="run_delete" value="{{run.id}}" /></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
					<input class="centered" type="button" id="delete_runs_button" onClick=delete_runs() name='Delete selected' value='Delete selected' />
			</div>

			{% else %}
					No runs with this algorithm.
			{% endif %}
		</div>
	
	</div>
	
{% endblock %}
