{% extends "base.html" %}

{% load pagination_tags %}

{% block title %} Stemweb - home {% endblock %}

{% block menu_home %} active {% endblock %}

{# Main content of the site. Leaves banner/menu and footer untouched. #}
{% block main_content %}

	<div id="subpage_index" class="box-sizing_border">
	{% block subpage_index %}
	
		{% if user.is_authenticated %}
			{% block subpage_index_title %}
			<h1>Recent activity</h1>
			{% endblock%}
		
			{% if not recent_activities %}
				<p class="no_files">No activities.</p>
			{% else %}
				
				{% block subpage_index_table %}
				{% autopaginate recent_activities 10 %}
				<div>{% paginate %}</div>
				<table id="recent_activities_table">
					{% for r in recent_activities %}
						<tr>
							<td><a href="{{ r.url }}">{{ r.time|date:"d.m.y H:i" }}&nbsp;&nbsp;&nbsp;&nbsp;<br>{{ r.message }} &gt;&nbsp;</a></td>
						</tr>
					{% endfor %}
				</table>
				{% endblock %}
				
			{% endif %}
		{% else %}	
				<h1>New user?</h1>
				<div class="intro">
					<a href={% url registration_register %}>Register</a> yourself now to run the 
					<a href={% url algorithms_base_url %}>algorithms</a>.	
				</div> 	
		{% endif %}
			
	{% endblock %}
	</div>

	<div id="content_wrapper" class="box-sizing_border">
	
	<div id="subpage_main_header_wrapper" class="box-sizing_border">
		<h1 id="subpage_main_header">
			{% block subpage_main_header %} Home {% endblock %}
		</h1>
	</div>
	
	<div id="subpage_content" class="box-sizing_border">
	{% block subpage_content %}
	
			{% block intro %}
			
			<p>
				This is <a href="http://cosco.hiit.fi/Projects/STAM/">STAM's</a> web project Stemweb (workname).
			</p>
			<p>
				Project's aim is to help people to run stemmatology algorithms for their own datasets without tedious
				job of searching for/coding of the algorithms themselves. 
			</p>
			<p class="input_needed">
				Input needed: Brief description of stemmatology.
			</p>
			<p>
				Try the algorithm with your own .nex files or run one of the already uploaded files.
				Please be sure that your file is in the right <a href=#>format</a> (deadlink).
			</p>
			{% endblock %}
		
		{% if not user.is_authenticated %}
		<div class="pro_tip">
				Browse currently implemented <a href={% url algorithms_base_url %}>algorithms</a> or
				<a href={% url registration_register %}>register</a> and login to give them a go.
		</div>
		{% endif %}
			
	
		
	{% endblock %}
	</div>
	</div>
		
{% endblock %}			