{% extends "algorithms_base.html" %}

{% block subpage_content %}
	<div class="intro">
		<h1>{{ algorithm.name }}</h1>
		
		<p>
			{{ algorithm.desc }}
		</p>
	</div>
	
	<div id="new_run" class="intro">
		<h1>New Run</h1>
	
	</div>
	
	
	{% if user.is_authenticated %}
	<div id="previous_runs" class="intro">
		<h1>Previous Runs</h1>
	
		{% if algorithm_runs|length > 0 %}
		<table id="previous_runs_table" class="file_table">
			<thead>
				<tr>
					<th>Time</th>
					<th>File</th>
					<th>Iterations</th>
					<th>Runs</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				{% for run in algorithm_runs %}
				<tr class="row">
					<span class = "clickable">
					<td class="run_time">{% if run.time %}{{ run.time|date:"d.m.y H:i" }}{% endif %}</td>
					<td class="input_file"><a href="/results/{{ run.input_file.id }}/{{ run.id }}">{{ run.input_file.name }}</a></td>
					<td class="itermax">{{ run.itermax }}</td>
					<td class="runmax">{{ run.runmax }}</td>	
					</span>
					<td class="checkbox" onClick=""> 
						<input type="checkbox" name="run_delete_{{run.id}}" value="{{run.id}}" />
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
			<p>
				No runs with this algorithm.
			</p>
		{% endif %}
	</div>
	{% endif %}
	
{% endblock %}